# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.db
*.log
*.log
*.tlog
Don't Peek/.vs/Don't Peek/v16/Browse.VC.db
Don't Peek/.vs/Don't Peek/v16/.suo

Don't Peek/.vs/
Don't Peek/x64/

